@media screen and (max-width: 768px) {
  .side-nav {
    &__title {
      display: none;
    }
    img {
      display: none;
    }
  }
}

@media screen and (min-width: 769px) {
  .side-nav {
    padding: 24px 12px;
    background: #1b1b1b;
    width: 380px;
    &__title {
      display: flex;
    }
  }
}

.side-nav {
  box-sizing: border-box;
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  max-height: fit-content;
  width: 100%;

  &__title {
    color: #fff;
    font-family: Jura, sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-block-start: 0;
    margin-block-end: 0;
    margin-bottom: 24px;
  }

  &__content {
    box-sizing: border-box;
    max-width: 354.817px;
    width: 100%;
    height: 513px;
    display: flex;
    flex-direction: column;
    background-image: url("/../assets/svg/side-nav.svg");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-position: center;
    padding: 36px 12px;
    margin: auto;

    p {
      color: #fff !important;
      font-family: Jura, sans-serif;
      font-size: 14px;
      font-style: normal;
      font-weight: 700;
      line-height: normal;
      margin-bottom: 12px;
    }

    span {
      color: #fff;
      font-family: Jura, sans-serif;
      font-size: 14px;
      font-style: normal;
      font-weight: 700;
      line-height: normal;
      text-decoration-line: underline;
      opacity: 0.8;
      margin-right: 12px;
    }

    .span-price {
      color: #c9ff58;
      font-family: Jura, sans-serif;
      font-size: 12px;
      font-style: normal;
      font-weight: 700;
      line-height: normal;
      text-decoration: unset;

      &--description {
        color: #fff;
        opacity: 0.6;
        font-size: 12px;
        text-decoration: unset;
      }
    }

    .span-reviews {
      color: #fff;
      font-family: Jura, sans-serif;
      font-size: 12px;
      font-style: normal;
      font-weight: 700;
      line-height: normal;
      text-decoration: unset;
    }
  }
}

.mb-32 {
  margin-bottom: 32px;
}

.mt-8 {
  //margin-top: 8px;
}

.slider {
  margin-top: 7px;
  border-radius: 20px;
  background: rgba(#d9d9d9, 0.3);
  width: 324px;
  // width: 100%;
  height: 6px;
  position: relative;

  &--secondary {
    position: absolute;
    z-index: 2;
    width: 221px;
    height: 6px;
    border-radius: 20px;
    background: rgba(#d9d9d9, 0.7);
  }
}

.tag {
  display: flex;
  padding: 12px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 20px;
  background: rgba(217, 217, 217, 0.1);
  color: #fff;
  font-family: Jura, sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.section-title {
  color: #fff;
  font-family: Jura, sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin-bottom: 12px;
}
