@media screen and (max-width: 768px) and (min-width: 669px) {
  .card {
    &__info {
      h2, p, .genres {
        width: 400px;
      }
    }
  }
}


@media screen and (max-width: 668px) and (min-width: 0px) {
  .card {
    &__info {
      h2, p, .genres {
        width: 190px;
      }
    }
  }
}

@media screen and (max-width: 768px) {
  .card {
    position: relative;
    padding: 7px;
    &__info {
      h2, p, .genres {
        -webkit-box-orient: horizontal;
        white-space: nowrap;
        text-overflow: ellipsis;
        display: block;
        overflow: hidden;
      }
      h2 {
       margin: 0 0 4px 0;
      }
      p {
        font-size: 12px;
      }
      .rel-date {
        margin: 0;
      }
      .genres {
        margin: 0 0 6px 0;
      }
    }
    &__price {
      position: absolute;
      bottom: 4px;
      right: 4px;
      align-self: flex-end;
      padding: 0 5px 5px 0;
      color: #C9FF58;
      &__button, span {
        display: none;
      }
      p {
        font-size: 18px;
      }
    }
    &__img {
      img {
        width: 140px;
        height: 75.5px;
      }
    }
  }
}

@media screen and (min-width: 769px) {
  .card {
    padding: 18px 40px 18px 18px;
    &__info {
    margin-top: 8px;
      h2 {
       margin-bottom: 16px;
      }
      p, .rel-date {
      font-size: 14px;
      margin-bottom: 8px;
      }
    }
    &__price {
      color: #FFF;
      p {
        font-size: 24px;
      }
    }
    &__img {
      img {
        width: 280px;
        height: 131px;
      }
    }
  }
}

.card {
  border-radius: 12px;
  cursor: pointer;
  box-sizing: border-box !important;

  display: flex;
  margin: auto auto 20px auto;
  position: relative;
  max-width: 1000px;
  //height: 192px;
  max-height: 100%;
  background-color: #1B1B1B;

  &:hover {
    background-color: #242424;
    border-color: #C9FF58;

    .card__price__button {
      color: #121212;
      border: 1px solid #C9FF58;
      background: #C9FF58;
    }
  }

  &__content {
    display: flex;
    justify-content: space-between;
    flex-grow: 1;
  }

  &__price {
    padding-top: 7px;

    p {
      font-family: Jura, sans-serif;
      font-style: normal;
      font-weight: 700;
      line-height: normal;
    }

    span {
      color: #FFF;
      font-family: Jura, sans-serif;
      font-size: 14px;
      font-style: normal;
      font-weight: 500;
      line-height: normal;
      opacity: 0.8;
      margin-bottom: 8px;
    }

    &__button {
      cursor: pointer;
      margin-top: 32px;
      border-radius: 24px;
      border: 1px solid #C9FF58;
      padding: 10.5px 14px;
      background-color: transparent;
      color: #C9FF58;
    }

  }

  &__info {
    margin-left: 16px;

    h2 {
      font-family: Jura, sans-serif;
      color: #FFF;
      font-size: 16px;
      font-style: normal;
      font-weight: 700;
      line-height: normal;
      text-overflow: ellipsis;
    }

    p {
      color: #FFF;
      font-family: Jura, sans-serif;
      font-style: normal;
      font-weight: 500;
      line-height: normal;
      opacity: 0.8;
      text-overflow: ellipsis;
    }

    img {
      margin-right: 10px;
    }
  }

  &__img {
    border-radius: 8px;
    height: 100%;
    display: flex;
    img {
      border-radius: 8px;
    }
  }
}
