// @media screen and (max-width: 568px) {
//   .game-img-des-container {
//     margin-top: 18px;
//     .short-description {
//       &__container {
//         &__text {
//           display: none;
//         }
//       }
//     }
//   }
// }

@media screen and (max-width: 768px) {
  .main-carousel,
  .thumbnail-carousel {
    max-width: 363px;
    max-height: 558px;
    margin: auto;
  }
  .main-container {
    grid-template-columns: 1fr; /* Single column layout */
  }

  .right2 {
    order: 1; /* First position */
  }

  .left {
    order: 2; /* Second position */
  }

  .right1 {
    order: 3; /* Third position */
  }
  .game-img-des-container {
    gap: 12px;
    margin: 18px auto 12px auto;
    .short-description {
      text-align: center;
      &__container {
        flex-direction: column;
        flex-wrap: wrap;
        margin: auto;
        &__text {
          display: none;
        }
        &__img {
          margin: auto;
        }
      }
    }
    .shop-now {
      padding: 15px;
      max-width: 358px;
      width: 100%;
      &__title {
        color: white;
        font-size: 18px;
        margin: 0 0 10px 0;
      }
      &__price {
        max-width: 100px;
        &__text {
          font-size: 12px;
        }
        &__value {
          font-size: 24px;
        }
      }

      &__button {
        max-width: 180px;
        margin-left: auto;
      }

      .shop-flex {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 24px;
        .btn-div {
          flex-grow: 1;
        }
      }
    }
  }
  .about {
    max-width: 358px;
    margin: auto;
  }
  .about-title {
    display: none;
  }
  .system-requirements {
    max-width: 358px;
    margin: auto;
  }
  .thumbnail-slide img,
  .thumbnail-slide video {
    width: 140px; /* Adjust the size for thumbnails */
    height: 78.8421053px;
  }
}

@media screen and (min-width: 769px) {
  .main-carousel {
    max-width: 998px;
    max-height: 558px;
  }
  .thumbnail-slide img,
  .thumbnail-slide video {
    width: 190px; /* Adjust the size for thumbnails */
    height: 107px;
  }
  .game-img-des-container {
    margin-top: 44px;

    .shop-now {
      width: 380px;
      padding: 24px;
      &__title {
        display: none;
      }
      &__price {
        &__text {
          font-size: 14px;
        }
        &__value {
          font-size: 32px;
        }
      }
      &__button {
        margin-top: 28px;
      }
    }
  }
  .system-requirements {
    width: 380px !important;
  }

  .about {
    max-width: 998px;
  }

  .main-container,
  .game-img-des-container {
    gap: 24px;
  }

  .short-description {
    background-color: #1b1b1b;
    padding: 16px;
    &__container {
      &__text {
        &__description {
          -webkit-box-orient: vertical;
          text-overflow: ellipsis;
          display: block;
          overflow: hidden;
          height: 126px;
        }
      }
    }
  }
  .main-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 24px;
  }

  .left {
    grid-column: span 3 / span 3;
    grid-row: span 5 / span 5;
  }
  .right1 {
    grid-column-start: 4;
  }
  .right2 {
    grid-column-start: 4;
    grid-row-start: 2;
  }
  .game-img-des-container {
    grid-template-columns: repeat(4, 1fr);
    .short-description {
      grid-column: span 3 / span 3;
    }
    .shop-now {
      grid-column-start: 4;
    }
  }
}

.game-img-des-container {
  display: grid;
  .short-description {
    border-radius: 8px;
    max-width: 998px;
    width: 100%;
    display: flex;
    align-items: center;

    &__container {
      display: flex;
      gap: 16px;
      overflow: hidden;
      position: relative;
      &__img {
        // width: 342px;
        // height: 160px;
        // width: 363px;
        // height: 169.824561px;
        width: 358px;
        height: 167.48538px;
        overflow: hidden;

        img {
          position: relative !important;
          border-radius: 8px;
          object-fit: cover;
          width: 100%;
          height: 100%;
          // max-width: 342px;
          // max-height: 160px;
          width: 358px;
          height: 167.48538px;
        }
      }
      &__text {
        &__title {
          margin-top: 8px;
          margin-bottom: 16px;
          color: #fff;
          font-size: 16px;
          font-weight: bold;
          -webkit-box-orient: horizontal;
          white-space: nowrap;
          text-overflow: ellipsis;
          display: block;
          overflow: hidden;
        }
        &__description {
          color: rgba(#fff, 0.7);
          max-width: 598px;
        }
      }
    }
  }

  .shop-now {
    background-color: #1b1b1b;
    border-radius: 8px;
    // max-width: 342px;
    // max-width: 354.817px;
    margin: auto;
    height: 100%;
    &__price {
      display: flex;
      flex-direction: column;
      gap: 8px;
      &__text {
        color: rgb(#fff, 0.7);
        font-weight: bold;
      }
      &__value {
        color: #c9ff58;
        font-weight: bold;
      }
    }

    &__button {
      width: 100%;
      // margin-top: 28px;
      background-color: #c9ff58;
      display: flex;
      justify-content: center;
      border-radius: 24px;
      padding: 10px 0;
      font-family: Jura, sans-serif;
      cursor: pointer;
      text-transform: uppercase;
      font-size: 16px;
      letter-spacing: 1px;
    }

    &__text {
      color: #121212;
      background-color: unset;
      border: 0;
      outline: 0;
    }
  }
}

.main-carousel {
  position: relative;

  // height: 100%;
  width: 100%;
  object-fit: cover;
  overflow: hidden;
  border-radius: 8px;
  margin-top: 12px;
  margin-bottom: 12px;
}

.main-slide img,
.main-slide video {
  width: 100%;
  height: 100%;
  max-width: 998px;
  max-height: 558px;
  object-fit: contain;
  border-radius: 12px;
  overflow: hidden;
}

.thumbnail-carousel {
  width: 100%;
  max-height: 400px;
  overflow: hidden;
}

.thumbnail-slide img,
.thumbnail-slide video {
  cursor: pointer;
  object-fit: cover;
  border: 2px solid transparent;
  transition: border 0.3s ease;
  border-radius: 12px !important;
  overflow: hidden !important;
  margin-right: 7px;
  margin-left: 7px;
  padding: 5px;
}

.thumbnail-slide img:hover,
.thumbnail-slide video:hover {
  border: 2px solid #333;
  //transform: scale(1.4);
  transition: border 0.3s ease;
  //border-radius: 4px;
  //overflow: hidden;
}

.main-container {
  display: grid;
  max-width: 1400px;
  margin: 0 auto;
}

.about {
  margin-top: 12px;
  background-color: #1b1b1b;
  padding: 32px 16px;
  color: rgba(#fff, 0.8);
  border-radius: 12px;
  width: 100%;
  div {
    width: 100%;
  }
  &-title {
    margin-bottom: 0;
    font-size: 16px;
    color: #fff;
    padding-left: 5px;
  }
}

.system-requirements {
  margin-top: 12px;
  padding: 16px;
  background-color: #1b1b1b;
  border-radius: 12px;
  width: 100%;
  //height: 100%;
  &__title {
    color: #c9ff58;
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 20px;
  }
  &__min-max {
    color: rgba(#fff, 0.7);
    line-height: 20px;
    font-size: 12px;
    font-weight: bold;
    letter-spacing: 0;
  }
}

.bb_img {
  width: 100%;
  max-width: 400px;
}
