@media screen and (max-width: 568px) {
  .game-img-des-container {
    .short-description {
      &__container {
        &__text {
          display: none;
        }
      }
    }
  }
}

@media screen and (max-width: 768px) {
  .game-img-des-container {
    flex-direction: column;
    gap: 12px;
    .short-description {
      text-align: center;
      &__container {
        flex-direction: column;
        flex-wrap: wrap;
        margin: auto;
        &__img {
          margin: auto;
        }
      }
    }
  }
}

@media screen and (min-width: 769px) {
  .game-img-des-container {
    .shop-now {
      max-width: 380px;
    }
  }
  .main-container, .game-img-des-container {
    gap: 24px;
  }
  // .right1 {
  //    max-width: 380px;
  // }
  .short-description {
    background-color: #1b1b1b;
    padding: 16px;
  }
}

.game-img-des-container {
  display: flex;
  justify-content: space-between;
  margin-top: 44px;
  .short-description {
    border-radius: 8px;
    max-width: 998px;
    width: 100%;
    display: flex;
    align-items: center;

    &__container {
      display: flex;
      gap: 16px;
      position: relative;
      &__img {
        width: 342px;
        height: 160px;
        overflow: hidden;

        img {
          position: relative !important;
          border-radius: 8px;
          object-fit: cover;
          width: 100%;
          height: 100%;
          max-width: 342px;
          max-height: 160px;
        }
      }
      &__text {
        &__title {
          margin-top: 8px;
          margin-bottom: 16px;
          color: #fff;
          font-size: 16px;
          font-weight: bold;
        }
        &__description {
          color: rgba(#fff, 0.7);
          max-width: 598px;
        }
      }
    }
  }

  .shop-now {
    background-color: #1b1b1b;
    padding: 24px;
    border-radius: 8px;
    width: 100%;

    &__price {
      display: flex;
      flex-direction: column;
      gap: 8px;
      &__text {
        color: rgb(#fff, 0.7);
        font-size: 14px;
        font-weight: bold;
      }
      &__value {
        color: #c9ff58;
        font-weight: bold;
        font-size: 32px;
      }
    }

    &__button {
      width: 100%;
      margin-top: 28px;
      background-color: #c9ff58;
      display: flex;
      justify-content: center;
      border-radius: 24px;
      padding-top: 12px;
      padding-bottom: 12px;
      cursor: pointer;
    }

    &__text {
      color: #121212;
      background-color: unset;
      border: 0;
      outline: 0;
    }
  }
}

.main-carousel {
  position: relative;
  max-width: 998px;
  max-height: 558px;
  height: 100%;
  width: 100%;
  object-fit: cover;
  overflow: hidden;
  border-radius: 8px;
  margin-top: 12px;
  margin-bottom: 12px;
}

.main-slide img,
.main-slide video {
  width: 100%;
  height: 100%;
  max-width: 998px;
  max-height: 558px;
  object-fit: contain;
  border-radius: 12px;
  overflow: hidden;
}

.thumbnail-carousel {
  width: 998px;
  overflow: hidden;
}

.thumbnail-slide img,
.thumbnail-slide video {
  width: 190px; /* Adjust the size for thumbnails */
  height: 107px;
  cursor: pointer;
  object-fit: cover;
  border: 2px solid transparent;
  transition: border 0.3s ease;
  border-radius: 12px !important;
  overflow: hidden !important;
  margin-right: 7px;
  margin-left: 7px;
  padding: 5px;
}

.thumbnail-slide img:hover,
.thumbnail-slide video:hover {
  border: 2px solid #333;
  //transform: scale(1.4);
  transition: border 0.3s ease;
  //border-radius: 4px;
  //overflow: hidden;
}

.main-container {
  display: grid;
  max-width: 1400px;
  margin: 0 auto;
}

/* Desktop Layout (default) */
.main-container {
  grid-template-areas:
    "left right1"
    "left right2";
  grid-template-columns: 2.75fr 1fr;
}

.left {
  grid-area: left;
}
.right1 {
  grid-area: right1;
}
.right2 {
  grid-area: right2;
}

/* Mobile Layout */
@media (max-width: 768px) {
  .main-container {
    grid-template-areas:
      "right2"
      "left"
      "right1";
    grid-template-columns: 1fr;
  }
}
.about {
  margin-top: 12px;
  background-color: #1b1b1b;
  padding: 32px 16px;
  color: rgba(#fff, 0.8);
  border-radius: 12px;
  max-width: 998px;
  width: 100%;
  div {
    width: 100%;
  }
  &-title {
    margin-bottom: 0;
    font-size: 16px;
    color: #fff;
    padding-left: 5px;
  }
}

.system-requirements {
  margin-top: 12px;
  padding: 16px;
  background-color: #1b1b1b;
  border-radius: 12px;
  width: 100%;
  //height: 100%;
  &__title {
    color: #c9ff58;
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 20px;
  }
  &__min-max {
    color: rgba(#fff, 0.7);
    line-height: 20px;
    font-size: 12px;
    font-weight: bold;
    letter-spacing: 0;
  }
}
