<div class="aside-right">
    <div class="joinus-container">
        <a href="https://www.facebook.com/playze.io" target="_blank">
            <img src="assets/soc-medias/fb big.svg" alt="Facebook logo" />
        </a>
        <h2>Join us on Facebook</h2>
        <p>Stay connected with the Playze Community! Like our page to get the latest updates, news, and events.</p>
    </div>

    <div class="followUs-container">
        <div class="followUs">
            <h2>Follow us</h2>
            <h5>Stay up to date with the best deals!</h5>
            <div class="social-icons">

                <a href="https://www.facebook.com/playze.io" target="_blank">
                    <img src="assets/soc-medias/fb small.svg" alt="Facebook logo"  />
                </a>
                <a href="https://www.tiktok.com/@playze.io" target="_blank">
                    <img src="assets/soc-medias/tiktok.svg" alt="TikTok logo" />
                </a>
                <a href="https://www.instagram.com/playze.io/" target="_blank">
                    <img src="assets/soc-medias/inst.svg" alt="Instagram logo" />
                </a>
                <a href="https://www.youtube.com/@Playzeio" target="_blank">
                    <img src="assets/soc-medias/youtube.svg" alt="Youtube logo" />
                </a>
            </div>
        </div>

        <div class="break-line"></div>
        <div class="comingSoon">
            <h2>Welcome to Playze!</h2>
            <p>
                Stay connected, find deals, and enjoy all Playze offers.

<!--                We&rsquo;re coming soon! We&rsquo;re working hard to give you best-->
<!--                experience!-->
            </p>
            <div class="logo-button">
                <img src="assets/soc-medias/logo.svg" />
            </div>
        </div>
        <div class="icon-1">
            <img src="assets/soc-medias/Vector little.svg" alt="Icon" />
        </div>
        <div class="icon-2">
            <img src="assets/soc-medias/Vector big.svg" alt="Icon" />
        </div>

        <div
                class="icon-blur"
                style="
            filter: blur(146px);
            position: absolute;
            top: 347px;
            left: 176px;
            opacity: 0.5;
          "
        >
            <img src="assets/soc-medias/drop shadowstvis didi.svg" alt="Icon" />
        </div>
        <div
                class="icon-blur-2"
                style="
            position: absolute;
            top: 439.24px;
            left: 50px;
            filter: blur(86.3px);
          "
        >
            <img src="assets/soc-medias/Polygon 1.svg" alt="Icon" />
        </div>
    </div>
</div>
