<div class="" style="display: flex; gap: 24px; width: 100%;">
    <div class="" style=" max-width: 1000px; width: 100%">
        <div class="header">
            @if (news?.headline) {
                <h2>{{ news.headline }}</h2>
            }

            <div class="header__secondary">
                @if (news?.published) {
                    Added
                    <span>{{ news.published }}</span>
                }
                @if (news?.publishedBy) {
                    BY:
                    <span>{{ news.publishedBy }}</span>
                }
                @if (news?.announcementTypeColor && news?.announcementTypeName) {
                    <button
                            [ngStyle]="{ 'background-color': getBorderColorWithOpacity(news.announcementTypeColor,0.7),
                        'border': '2px solid ' + news.announcementTypeColor}">{{ news.announcementTypeName }}
                    </button>
                }
            </div>
        </div>
        <div class="cover">
            @if (news?.imgUrl) {
                <img ngSrc="{{news?.imgUrl}}" alt="" width="1000" height="370">
            }
        </div>
        <div class="content">
            <h1 class="primary-keyword">{{ news?.primaryKeyword }}</h1>
            <div class="inner-content" [innerHTML]="sanitizedAboutTheNews"></div>
        </div>
    </div>
    <div class="hot-news" >
        <div class="" style="display: flex; align-items: center; gap: 10px">
            <img  ngSrc="./assets/svg/fire.svg" height="24" width="24" alt="svg">
            <p style="color: #fff; font-weight: bold">HOT NEWS</p>
        </div>
        @if (hotNews) {
            @for (hotnews of hotNews; track hotNews) {
                <div class="hot-news__item" [routerLink]="['/news', hotnews.urlName]">
                    <img src="{{hotnews.imgUrl}}" alt="">
                    <p class="title">{{hotnews.primaryKeyword}}</p>
                </div>
            }
        }
    </div>
</div>