
<div class="home-page">
    <div class="home-page-main-photo">
        <img priority src="assets/cover.webp" alt="most popular games">
    </div>
    <!-- You can now use your library component in app.component.html -->
    <div class="slider-header">
        <div class="slider-header__left">
            <img ngSrc="assets/svg/fire.svg" alt="most popular games" width="24" height="24">
            <h4>MOST POPULAR GAMES</h4>
        </div>
        <div class="slider-header__right" routerLink="/games">
            See All
        </div>
    </div>


    @if (sliderData) {
        <app-item-slider [slides]="sliderData"/>
    }
    <div class="deals-container">
        @if (newDeals) {
            <app-deals-cards [title]="'New Deals'" [dealsCards]="newDeals" class="deals-box"/>
        } @else {

        }
        @if (bestDeals) {
            <app-deals-cards [title]="'Best Deals'" [dealsCards]="bestDeals" class="deals-box"/>
        }
    </div>
</div>

