@media (max-width: 768px) {
  .deals-box {
    flex: 1 1 100%; /* Full width on smaller screens */
  }
}

@media (min-width: 769px) {
  .deals-box {
    flex: 1 1 calc(50% - 16px);
  }
}

.home-page {
  // overflow-x: hidden;
  margin-top: 24px;
  .home-page-main-photo {
    width: 100%;
    max-width: 100%; 
    height: auto; 
    img {
      border-radius: 12px;
      width: 100%; 
      height: auto; 
      display: block; 
    }
  }
}

.slider-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 12px;
  margin-top: 32px;

  &__left {
    display: flex;
    align-items: center;
    gap: 8px;

    h4 {
      color: #fff;
      // leading-trim: both;
      // text-edge: cap;
      font-family: Jura, sans-serif;
      font-size: 16px;
      font-style: normal;
      font-weight: 700;
      line-height: normal;
      margin-block-start: unset;
      margin-block-end: unset;
    }
  }

  &__right {
    cursor: pointer;
    color: #fff;
    // leading-trim: both;
    // text-edge: cap;
    font-family: Jura, sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    opacity: 0.6;
  }
}

.deals-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  gap: 16px;
  width: 100%;
  height: 100%;
}
